<!-- home/templates/home/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Go-Kart Coaching</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
</head>
<body>
    <header>
        <h1>Plytinės kartodromo būrelis</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Apie mus</a></li>
            <li><a href="{% url 'naujienos' %}">Naujienos</a></li>
            <li><a href="{% url 'burelis' %}">Būrelis</a></li>
            <li><a href="{% url 'pamokos' %}">Pamokos</a></li>
            <li><a href="{% url 'kainos' %}">Kainos</a></li>
            <li><a href="{% url 'kontaktai' %}">Kontaktai</a></li>
            
            {% if user.is_authenticated %}
                <li>
                    <form id="logout-form" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
                            Atsijungti
                        </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Prisijungti</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <main>
        <!-- Define a block that child templates can override -->
        {% block content %}
        <!-- This content will be replaced by child templates -->
        {% endblock %}
    </main>

    <footer>
        <div style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; justify-content: left; text-align: left; padding-inline: 30px;">
                <h3>Kontaktai</h3>
                <p>El. paštas: plytine@kartodromas.lt</p>
                <p>Tel. +370 699 56704</p>
                <p>ADRESAS Plytinės g. 27, Vilnius LT-10105</p>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: left; text-align: left; padding-inline: 30px;">
                <p>Darbo laikas</p>
                <p>I – V 13:00 – 21:00</p>
                <p>VI – VII 10:00 – 23:00</p>
            </div>
        </div>
    </footer>
</body>
</html>
