{% extends 'home/base.html' %}

{% block content %}

<div class="container-fluid" style="max-width: 800px;">
    <h2 class="text-center" >Būrelis</h2>
    <figure class="text-left">
        <blockquote class="blockquote">
          <p>Plytinės kartingo būrelis skirtas visiems vaikams nuo 6 iki 18 metų, kurie domisi kartingo sportu, automobiliais ar kitomis techninėmis sporto šakomis, trokšta suprasti ką reiškia pačiam valdyti kartą, išmokti lenktyniauti bei pajausti tikrą lenktynininkų „duoną“. Užsiėmimų metu mokysimės teisingos lenktyninės trajektorijos, kvalifikacijos bei lenktynių važiavimų strategijos, startų, lenkimų, kartų sandaros, važiavimo šlapiomis sąlygomis bei gudrybių kaip greičiausiai įveikti trasos ratą esant sniegui bei ledui.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
    </figure>

</div>

{% endblock %}
